.Trigger {
  all: unset;

  cursor: pointer;

  position: relative;

  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;

  /* min-width: 210px; */

  /* test */
  padding: 6px 12px;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;

  font-size: 16px;
  line-height: 1.5;
  color: var(--color-light-100);

  background-color: transparent;
  box-shadow: 0 2px 10px var(--color-dark-700);

  &:hover {
    color: var(--color-light-900);

    /* background-color: #171717; */
  }

  &:focus-visible {
    border: 1px solid var(--color-accent-500);
    border-radius: 1px;
    color: var(--color-light-900);
    outline: 1px solid var(--color-accent-500);
  }

  &[data-placeholder] {
    color: var(--color-accent-900);
  }

  &[data-state='open'] {
    border: 1px solid var(--color-light-100);
    border-radius: 2px 2px 0 0;
    background-color: var(--color-dark-500);
  }

  &[data-disabled] {
    cursor: not-allowed;
    color: var(--color-dark-100);
  }
}

.Icon {
  color: var(--color-light-100);
}

.Content {
  transform: translateY(-1px);

  box-sizing: border-box;
  min-width: 100%;
  border: 1px solid var(--color-dark-100);
  border-radius: 0 0 2px 2px;

  background-color: var(--color-dark-500);
  box-shadow:
    0 10px 38px -10px rgb(22 23 24 / 35%),
    0 10px 20px -15px rgb(22 23 24 / 20%);

  &[data-state='open'] {
    border: 1px solid var(--color-light-100);
  }
}

.Viewport {
  /* border-radius: 0 0 2px 2px; */

  /* &[data-state='open'] {
    border-color: #397df6; // Пример: синяя рамка при открытии
    background-color: red;
    animation: fadeIn 0.2s ease-out; // Анимация появления
  } */
}

.Item {
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  padding: 6px 12px;

  font-size: 16px;
  line-height: 1.5;
  color: var(--color-light-100);

  &[data-disabled] {
    pointer-events: none;
    color: var(--color-dark-300);
  }

  &[data-highlighted] {
    cursor: pointer;
    color: var(--color-accent-500);
    background-color: var(--color-dark-300);
    outline: none;
  }
}

.Label {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--color-dark-100);
}

.Separator {
  height: 1px;
  margin: 5px;
  background-color: var(--color-accent-700);
}

.ItemIndicator {
  position: absolute;
  left: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;
}

.ScrollButton {
  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 25px;

  color: var(--color-accent-700);

  background-color: var(--color-light-100);
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-2px, -100%);

  font-size: 14px;

  /*  line-height: 1.75; */
  color: var(--color-light-900);
}
