.Root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Root.horizontal {
  flex-direction: row;
}

.Item {
  all: unset;

  cursor: pointer;

  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-light-100);
  border-radius: 100%;

  background-color: transparent;
  outline: 8px solid transparent;

  &:hover {
    background-color: var(--color-dark-300);
    outline-color: var(--color-dark-300);
  }

  &:focus {
    background-color: var(--color-dark-500);
    outline-color: var(--color-dark-500);
  }

  &:active {
    background-color: var(--color-dark-100);
    outline-color: var(--color-dark-100);
  }
}

.Indicator {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  &::after {
    content: '';

    display: block;

    width: 10px;
    height: 10px;
    border-radius: 50%;

    background-color: var(--color-light-100);
  }
}

.Label {
  cursor: pointer;
  font-size: var(--font-size-s);
  color: var(--color-light-100);
}

.Radio_item {
  display: flex;
  column-gap: 8px;
  align-items: center;
}
