@import 'tailwindcss';
@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/themes/styles.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';
@import '../styles/index';

/**/
:root {}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0d0d;
    --foreground: #ededed;
  }
}
/**/
main {
  background-color: var(--color-dark-700);
}

.container {
  max-width: 1310px; // 1280 maket + 30 padding
  margin: 0 auto;
  padding: 0 15px;
}
