/*.check_item::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../../../_accets/checkmark-outline.svg') center/125% no-repeat;
  transition: opacity 150ms cubic-bezier(0.16, 1, 0.3, 1);
  opacity: 0;
}
.check_item:checked::before {
  opacity: 1;
}*/
/*.check_item {
  background: none;
}*/
.lg {
  font-size: 20px;
}

.md {
  font-size: 16px;
}

.sm {
  font-size: 14px;
}
