.header {
  background-color: var(--color-dark-700);

  hr {
    color: var(--color-dark-300);
  }
}

.logo {
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
  color: var(--color-light-100);
  letter-spacing: 0;
}
